<!DOCTYPE html>
<html>
<head>
    {%- block head %}
        {%- block metas %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {%- endblock metas %}
        <title>{% block title %}{% endblock title %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {{ stylesheet_tag('main_css') | safe }}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
        {%- block styles %}

        {%- endblock styles %}

    {%- endblock head %}
</head>

<body class="hold-transition skin-blue sidebar-mini">

<noscript>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="row">
                <div class="container">
                    <div class="col-1-1">
                        {% for category, message in messages %}
                            <div class="alert-box {{ category }} banner">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
</noscript>


{% block page_body %}

{% endblock %}

{% block tail %}{% endblock %}
{{ javascript_tag('main_js') | safe }}

<script>
    /* turning flask flash messages into js popup notifications */
    window.popupMessages = {{ get_flashed_messages(with_categories=True) | tojson | safe }};
</script>


{% block scripts %}

{%- endblock scripts %}

</body>
</html>
