{% extends "base.html" %}


{% block page_body %}
    <div class="wrapper">
        <header class="main-header">
            {% block brand %}
                <a href="#" class="logo">
                    <span class="logo-mini"><strong>LTE</strong></span>
                    <span class="logo-lg">Admin<strong>LTE</strong></span>
                </a>
            {% endblock %}

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                {% block navbar %}
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li><!-- start message -->
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="{{ current_user.avatar }}" class="img-circle"
                                                             alt="User Image"/>
                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <!-- end message -->
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>{{ current_user.full_name }} <i class="caret"></i></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="{{ current_user.avatar }}" class="img-circle" alt="User Image"/>
                                        <p>
                                            {{ current_user.full_name }} - Web Developer
                                            <small>Member since {{ current_user.created_at.strftime("%b. %Y") }}</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ url_for('public.login') }}" class="btn btn-default btn-flat">Sign
                                                out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {%- endblock navbar %}
            </nav>

        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                {% block sidebar -%}
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{{ current_user.avatar }}" alt="User Image" class="img-circle">
                        </div>
                        <div class="pull-left info">
                            <p>{{ current_user.full_name }}</p>
                            <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">HEADER</li>

                        {%- for item in current_menu.children recursive -%}
                        {%- if  item.cls -%}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa {{ item.cls }}"></i> <span>{{ item.text }}</span>
                                <span class="pull-right-container">
                                  <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            {%- else -%}
                                <li class="{{ 'active' if item.active }}"><a href="{{ item.url }}"><i class="fa fa-circle-o"></i> {{ item.text }}</a></li>
                            {%- endif -%}
                            {%- if item.children -%}
                            <ul class="treeview-menu">
                                {{ loop(item.children) }}
                            </ul>
                            {%- endif -%}
                        {%- if item.cls -%}
                        </li>
                        {%- endif -%}
                        {%- endfor -%}
                    </ul>
                    <!-- /.sidebar -->
                {%- endblock sidebar %}
            </section>
        </aside>

        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block content_header -%}
                {%- endblock content_header %}
            </section>

            <!-- Main content -->
            <section class="content">
                {% block content -%}
                {%- endblock content %}
            </section><!-- /.content -->
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                {% block version %}
                    <b>Version</b> 2.4.0
                {% endblock %}
            </div>
            {% block copyright %}
                <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All
                rights reserved.
            {% endblock %}
        </footer>
    </div>
{% endblock %}


