{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Compose</a>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">系统角色</h3>

                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        {% for role in roles %}
                        <li class="{{ 'active' if role.id == active_rid }}"><a href="{{ url_for('admin.authorized',active_rid=role.id) }}"><i class="fa fa-user-secret"></i> {{ role.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->


        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">权限菜单</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">


                    <ul class="media-list" data-widget="tree">

                        {%- for item in current_menu.children recursive -%}
                            <li class="media">
                                <div class="media-left">
                                    <input type="checkbox" class="flat-blue" name="perms" value="{{ item.url }}" {{ 'checked' if item.url in perms }}>
                                </div>
                                <div class="media-body">{{ item.text }}
                                    {%- if item.children -%}
                                        <ul class="media">
                                            {{ loop(item.children) }}
                                        </ul>
                                    {%- endif -%}
                                </div>
                            </li>
                        {% endfor %}

                    </ul>


                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}

<script>

//Flat red color scheme for iCheck
$('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
  checkboxClass: 'icheckbox_flat-green',
  radioClass   : 'iradio_flat-green'
})

</script>

{% endblock %}